.bod {
    width: 685px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 3em;
    flex-wrap: wrap;
}

.card
{
    width: 225px;
    height: 450px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: 50%;
    background-position: center;
    background-size: cover;
}

.full {
    width: 100%;
    height: 16%;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.title {
    width: 100%;
    height: 16%;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.family {
    width: 100%;
    height: 16%;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

